[submodule "irods-ci-server"]
	path = irods-ci-server
	url = ../irods-ci-server.git
        branch = master
[submodule "Catch2"]
	path = Catch2
	url = ../catchorg.Catch2.git
[submodule "handle-cpp-client"]
	path = handle-cpp-client
	url = git@git.ia.surfsara.nl:data-management-services/handle-cpp-client.git
