[submodule "irods-ci-server"]
	path = irods-ci-server
	url = git@git.ia.surfsara.nl:data-management-services/irods-ci-server.git
        branch = master
[submodule "Catch2"]
	path = Catch2
	url = git@git.ia.surfsara.nl:data-management-services/catchorg.Catch2.git
